<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="/character_distance_app/app/assets/stylesheets/users.scss">
    </head>
    
    <body>
        
        <div class="user-show">
            <div class="container">
                <div class="form-heading">
                    <h2>user name</h2>
                </div>
                
                <div class="total-distance">
                    <p>合計距離</p>
                    <p>1234.56m</p>
                </div>
                <div class="posts">
                    
                </div>
            </div>
        </div>
        
    </body>
</html>