<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="/character_distance_app/app/assets/stylesheets/home.scss">
    </head>
    
    <body>
        
        <!-- 画像 -->
        <div class="main-visual">
            <div class="visual">
                <img src="/cda-top.jpg" class="cda-top">
            </div>
        </div>
        
        <!-- main -->
        <div class="main">
            <div class="main-container">
                <div class="section">
                    <div class="section-title">
                        <h2>ABOUT Character Distance Application</h2>
                        <p>CDAについて</p>
                    </div>
                    <div class="innner">
                        <p>Character Distance Applicationは、書いた文字の距離を測定できるアプリケーションです。</p>
                        <p>新しい文字の単位【文字距離】を提供し、文字の新たな可能性を引き出します。</p>
                    </div>
                </div>
                <div class="section">
                    <div class="section-title">
                        <h2>EXAMPLES OF USE</h2>
                        <p>使用例</p>
                    </div>
                    <div class="innner">
                        <p>受験勉強の際のモチベーションを高める材料として。</p>
                        <p>自分というログファイルの項目を増やしてください。</p>
                        <p>文字に関する仕事をしている方、新しい単位の誕生です。</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- footer -->
        <footer>
            <div class="footer-container">
                <ul>
                    <li><a href="/">CDA</a></li>
                    <li>
                        <ul>
                            <li>
                                <a href="/signup">signup</a>
                            </li>
                            <li>
                                <a href="/login">login</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </footer>
        
        
        <!-- copyright -->
        <div class="copyright">
            <p>Copyright © 2018 CDA All Rights Reserved.</p>
        </div>
        
        
    </body>
    
</html>