        <div class="posts-edit">
            <div class="container">
                
                <div class="heading">
                    <h2><%= @current_user.name %></h2>
                </div>
                
                <div class="posts-container">
                    <%= form_tag("/posts/#{@post.id}/update") do %>
                        <div class="posts-form">
                            <textarea name="string"><%= @post.content %></textarea>
                        </div>
                        <input type="submit" value="保存">
                    <% end %>
                    <p>or</p>
                    <%= form_tag("/posts/#{@post.id}/destroy") do %>
                        <input type="submit" value="削除">
                    <% end %>
                </div>
            </div>
        </div>
