<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="/character_distance_app/app/assets/stylesheets/posts.scss">
    </head>
    
    <body>
        
    </body>
</html>
