// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, p, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, table, th, td {
    margin: 0;
    padding: 0;
}


/* new */
.container {
    width: 710px;
    margin: 0 auto;
}

.form-heading {
    border-top: 3px solid black;
    margin-top: 35px;
    height: 90px;
}

.form-heading h2 {
    display: inline-block;
    float:left;
}

.form-heading p {
    color: #666666;
    font-size: 14px;
    display: inline-block;
    margin: 11px 0 0 20px;
    
}

.form-body {
    width: 710px;
    text-align: center;
}

.form-menu {
    width: 710px;
    height: 95px;
    border-top: 1px solid #999999;
    
}

.form-table {
    width: 710px;
    border-bottom: 1px solid #999999;
}

.form-name {
    width: 220px;
    float: left;
    background: #F6F6F6;
    display: inline-block;
}

.form-value {
    width: 470px;
    float: left;
    text-align: left;
}

.form-body p {
    width: 190px;
    padding: 35px 15px;
    text-align: left;
    font-weight: bold;
}

.form-table input {
    width: 300px;
    margin: 33px 15px;
    text-align: left;
    height: 25px;
    
}

.form-body input[type="submit"] {
    cursor: pointer;
    width: 305px;
    height: 35px;
    margin: 50px 0 50px 67px;
}

.form-error {
  color: #ff4d75;
}

/* users-show */

.total-distance {
    height: 35px;
    margin-bottom: 35px;
}

.total-distance-left {
    float: left;
    border-left: 3px solid black;
    width: 33%;
}

.total-distance-left p {
    margin-left: 5px;
}

.total-distance-right {
    float: right;
    width: 33%;
    text-align: center;
}

.posts {
    height: 24px;
    margin-top: 5px;
}

.posts-date {
    float: left;
    border-left: 3px solid black;
    width: 33%;
}

.posts-date p {
    margin-left: 5px;
}

.posts-string {
    width: 33%;
    float: left;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.posts-string a {
    color: black;
}

.posts-distance {
    width: 33%;
    float: left;
    text-align: right;
}
